* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
.container-fluid{background: url(https://i.pinimg.com/236x/b1/07/46/b10746f36f8b0a0dd04912e054a82ed4.jpg); background-position: center center; height: 100vh;}
.medio{top: 35%;}
.title {
    background-color: black;
}
strong {
    border: solid black;
    background-color: black;
}
.imgs {
    width: 60px;
}
